/* 更新日志页面的样式 */
.news-container {
    display: flex;
    width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffffa8;
    border-radius: 20px;
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.2);
}

.timeline {
    width: 200px;
    height: 600px;
    overflow: hidden;
    border-right: 1px solid #d6bcc1;
}

.timeline-header {
    text-align: center;
    padding: 10px 0;
    background-color: #d6bcc1ad;
}

.timeline-body {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.month {
    padding: 10px;
    margin: 5px 0;
    background-color: #d6bcc1b0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.month:hover {
    background-color: #a6b8c5b7;
}

.news-content {
    flex: 1;
    padding: 0 20px;
}

.news-header {
    text-align: center;
    padding: 10px 0;
    background-color: #d6bcc1ad;
}

.news-body {
    padding: 20px;
}

.news-item {
    display: none;
    margin-bottom: 20px;
}

.news-item h4 {
    margin-bottom: 10px;
}

.news-item p {
    text-align: left;
    margin-bottom: 5px;
}
